/* .name{
    text-align: right;
    color: aquamarine;
    padding-left: 5px;
} */

#forms{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field{
    width: 28%;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 8px 3px lightgray;
    text-align: center;
}

.heading{
    text-align: center;
    padding: 15px 0px;
    font-weight: 500;
    font-size: 13px;
}

h3{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.box-container{
    margin: auto;
    padding: 10px 250px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

img{
    width: 55%;
}
.img1{
    height: 12vh;
}
.img2{
    height: 8.5vh;
}
.box{
    flex-basis:21%;
    text-align: center;
    padding: 20px 0px;
    margin: 10px 0px;
    box-shadow: 0px 0px 8px 3px lightgray;
    border-radius: 5px;
    transition: transform 0.5s;
}
.box:hover{
    box-shadow: 0px 0px 8px 3px lightgray;
    transform: scale(1.04);
}


@media(max-width:998px){
    
    .box-container{
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
       gap: 15px;
    }

    .img1{
        height: 22vh;
    }
    .img2{
        height: 12vh;

    }

    .box{
        margin: 10px;
    }

    .input-field{
        width: 30%;
    }
}

@media (max-width:470px){

    .input-field{
        width: 50%;
        font-size: 11px;
    }
    .box-container{
        padding: 10px 40px;
    }
}